<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8"/>
<title>Faculdade</title>
<style type="text/css">
    body{
    margin: 0;
    background: black;
    }

    </style>
</head>
<body>

<h1  style="text-align:center; color:white;">AFAZARES - FACULDADE</h1>

<h2 style="text-align:center; background:white; color:red"> URGENTE</h2>
<ul>
    <div style="color:white;">
        <li>(12/11) - Trabalho de ICG - Status: {{status|upper}}</li>
        <li>(20/11) - Lista de Calc</li>
        <li>(10/11) - Lista de Álgebra linear</li>

    </div>
</ul>

<h2 style="text-align:center; background:white;">Quando estiver àtoa</h2>
<ul>
    <div style="color:white;">
        <li>Estudar Numpy e Pandas</li>
        <li>Estudar inglês</li>
        <li>Vídeo 3b1b e Strang</li>

    </div>
</ul>



</body>
</html>