<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8"/>
<title>Aplicativo: agenda</title>
<style type="text/css">
    body{
    margin: 0;
    background: black;
    }

    </style>
</head>
<body>

<h1  style="text-align:center; color:white;">MINHA AGENDA</h1>

<h2 style="text-align:center; background:white;"> Segunda-feira</h2>
<ul>
    <div style="color:white;">
        <li>07:30 - Linguagens de Programação</li>
        <li>09:20 - Cálculo em Várias Variáveis</li>
        <li>11:10 - Álgebra linear</li>
    
        <li>16:00 - Inglês Brasas</li>

    </div>
</ul>

<h2 style="text-align:center; background:white;"> Terça-feira</h2>
<ul>
    <div style="color:white;">
        <li>09:20 - Modelagem de Fenômenos Físicos</li>
        <li>11:10 - Introdução à Economia</li>
    
        <li>21:00 - Reunião DAMA</li>

    </div>
</ul>

<h2 style="text-align:center; background:white;"> Quarta-feira</h2>
<ul>
    <div style="color:white;">
        <li>07:30 - Linguagens de Programação</li>
        <li>09:20 - Cálculo em Várias Variáveis</li>
        <li>11:10 - Álgebra linear</li>
        <li>14:20 - Introdução à Computação Gráfica</li>
        <li>16:00 - Inglês Brasas</li>

    </div>
</ul>

<h2 style="text-align:center; background:white;"> Quinta-feira</h2>
<ul>
    <div style="color:white;">
        <li>09:20 - Modelagem de Fenômenos Físicos</li>
        <li>11:10 - Introdução à Economia</li>
    </div>
</ul>

<h2 style="text-align:center; background:white;"> Sexta-feira</h2>
<ul>
    <div style="color:white;">
        <li>07:30 - Linguagens de Programação</li>
        <li>09:20 - Cálculo em Várias Variáveis</li>
        <li>11:10 - Álgebra linear</li>
    
        <li>14:20 - Introdução à Computação Gráfica</li>

    </div>
</ul>

</body>
</html>