<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8"/>
<title>Quinta-feira</title>
<style type="text/css">
    body{
    margin: 0;
    background: black;
    }

    </style>
</head>
<body>

    <h1  style="text-align:center; color:white;">MINHA AGENDA</h1>

    <h2 style="text-align:center; background:white;"> Quinta-feira - (11/11) </h2>
    <ul>
        <div style="color:white;">
            <li>14:00 - Exame de sangue</li>
            <li>16:00 - Médico</li>
            <li>20:00 - Sushi com a Tata</li>
    
        </div>
    </ul>
    

</body>
</html>