<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8"/>
<title>Sábado</title>
<style type="text/css">
    body{
    margin: 0;
    background: black;
    }

    </style>
</head>
<body>

    <h1  style="text-align:center; color:white;">MINHA AGENDA</h1>

    <h2 style="text-align:center; background:white;"> Sábado - (13/11) </h2>
    <ul>
        <div style="color:white;">
        
            <li>21:00 - Aniversário Tio Dener</li>
    
        </div>
    </ul>

    
    

</body>
</html>