<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8"/>
<title>Segunda-feira</title>
<style type="text/css">
    body{
    margin: 0;
    background: black;
    }

    </style>
</head>
<body>

    <h1  style="text-align:center; color:white;">MINHA AGENDA</h1>

    <h2 style="text-align:center; background:white;"> Segunda-feira - (08/11) </h2>
    <ul>
        <div style="color:white;">
            <li>15:00 - Dentista</li>
            <li>18:00 - Reunião com Camacho</li>
        
            <li>21:00 - Jantar com família</li>
    
        </div>
    </ul>
    

</body>
</html>