{% extends "instagram2/"|add:perfil|add:".html" %}
{% load static %}

<html lang="pt-br">
    <body>
        {% block meta%}
            <head>
                <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <link href="{% static "css/instagram2.css" %}" rel="stylesheet">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>{{user}}</title>
            </head>
        {% endblock  %}

        {% block perfilSuperior %}
                <img src="{% static "images/pfp_"|add:perfil|add:".jpg" %}" alt="Imagem de perfil" width="100" height="100">

                <h4>{{ user }}</h4>

                <h1>Bio</h1>

                <p>{{ bio }}</p>

                <p>
                Gosto de: | 
                {% for item in gostos %}
                    {{item}} |
                {% endfor %}</p>
        {% endblock  %}



        {% block cabecalho %}
            <p>Aqui mora um cabeçalho</p>
        {% endblock cabecalho %}
    </body>
</html>