<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Vault</title>
</head>
<body>
    <h1>Segredo sobre {{ name }}</h1>
    <p>Você pode não saber, mas {{ name|upper }} ama {{ beloved }}.</p> 
    <p>Grande união {{ name|add:'+'|add:beloved}}.</p>
    <h2>Lista de Animes</h2>
    <ul>
        {% for anime in animes %}
            <li>Nome: {{ anime.0|title }}. Nota: {{ anime.1 }}</li>
        {% endfor %}
    </ul>
    <h2> Descrição da página </h2>
    <p> {% lorem %} </p>

</body>
</html>